<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Play and Win</title>
</head>
<body>
    
    <div class="playBanner">
        <div class="gameImage">
            <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1640864373/Lkia/mario_kjdqd5.png"  alt="mario" class="mario">
        </div>    
        
        <div class="bannerHead">Play & Win </div>
        
        <div class="bannerBody">IT’S NEW, IT’S FUN,  IT’S PLAY TIME ...<br>
            Play and try to enter to our weekly leaderboard for amazing prizes !!! <br>

            <button class="playBtn"><span class="iconify" id="btnIcon" data-icon="mdi:gamepad-variant-outline" data-height="24" ></span>&nbsp; Play Now</button>
        </div>

    </div>

</body>
</html>