<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Card</title>
  </head>
  <body>
    <div class="card">
      <div class="card-image">
        <img
          alt="home"
          src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1638297434/AyoOsLab_wvvflo.png"
          class="image"
        />
      </div>
      <p>Lorem ipsum...</p>
    </div>
  </body>
</html>
