<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css">

    <script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script>

    <title>Game menu</title>

    <script>

        function backToGameMenu() {
            window.location.href = '../gameMenu/index.html'
        }

 

    </script>
     <script src="./script.js"></script>

</head>

<body>

    <!--Page 1 - Home -->
    <div role="main_content">

        <div>
            <div class="leadrbord-text">
                <span class="iconify" data-icon="mdi:arrow-left-circle" style="color: #092c4c; font-size: 24px;"
                    onclick="backToGameMenu()"></span>
                <div class="text-lb">
                    Leaderboard
                </div>
            </div>

            <div class="first-score-card">
                <div class="game-card-container" style="border-color: coral;">
                    <div class="game-sub-container-top">
                        <div class="game-content-container">
                            <div class="game-image-container">
                                <div class="game-product-image-container">
                                    <div class="game-image-container">
                                        <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1642155403/Lkia/man_1_ilhh9d.png"
                                            class="game-product-image">
                                    </div>
                                </div>
                            </div>
                            <div class="game-details-container">

                                <div class="game-price-container">
                                    <div class="game-price">

                                        <div class="game-price-value-holder">Ivy Grayson</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="game-sub-container-bottom">
                        <div class="game-description-title-container" id="userScore"></div>
                        <div class="game-description-content-container">1st</div>
                    </div>
                </div>
            </div>

            <div class="second-score-card">
                <div class="game-card-container">
                    <div class="game-sub-container-top">
                        <div class="game-content-container">
                            <div class="game-image-container">
                                <div class="game-product-image-container">
                                    <div class="game-image-container">
                                        <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1642155403/Lkia/man_1_ilhh9d.png"
                                            class="game-product-image">
                                    </div>
                                </div>
                            </div>
                            <div class="game-details-container">

                                <div class="game-price-container">
                                    <div class="game-price">

                                        <div class="game-price-value-holder">New player 1</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="game-sub-container-bottom">
                        <div class="game-description-title-container">LP : 0</div>
                        <div class="game-description-content-container">2nd</div>
                    </div>
                </div>
            </div>

            <div class="third-score-card">
                <div class="game-card-container">
                    <div class="game-sub-container-top">
                        <div class="game-content-container">
                            <div class="game-image-container">
                                <div class="game-product-image-container">
                                    <div class="game-image-container">
                                        <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1642155403/Lkia/man_1_ilhh9d.png"
                                            class="game-product-image">
                                    </div>
                                </div>
                            </div>
                            <div class="game-details-container">

                                <div class="game-price-container">
                                    <div class="game-price">

                                        <div class="game-price-value-holder">New player 2</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="game-sub-container-bottom">
                        <div class="game-description-title-container">LP : 0</div>
                        <div class="game-description-content-container">3rd</div>
                    </div>
                </div>
            </div>

            <div class="Frst-score-card">

                <div class="length-score-card">
                    <div class="length-card-container">
                        <div class="length-sub-container-top">
                            <div class="length-content-container">
                                <div class="length-image-container">
                                    <div class="length-product-image-container">
                                        <div class="length-image-container">
                                            <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1642155403/Lkia/man_1_ilhh9d.png"
                                                class="length-product-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="length-details-container">

                                    <div class="length-price-container">
                                        <div class="length-price">

                                            <div class="length-price-value-holder">New player 3</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="length-sub-container-bottom">
                            <div class="length-description-title-container">LP : 0</div>
                            <div class="length-description-content-container">4th</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Scnd-score-card">

                <div class="length-score-card">
                    <div class="length-card-container">
                        <div class="length-sub-container-top">
                            <div class="length-content-container">
                                <div class="length-image-container">
                                    <div class="length-product-image-container">
                                        <div class="length-image-container">
                                            <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1642155403/Lkia/man_1_ilhh9d.png"
                                                class="length-product-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="length-details-container">

                                    <div class="length-price-container">
                                        <div class="length-price">

                                            <div class="length-price-value-holder">New player 4</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="length-sub-container-bottom">
                            <div class="length-description-title-container">LP : 0</div>
                            <div class="length-description-content-container">5th</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Scnd-score-card">

                <div class="length-score-card">
                    <div class="length-card-container">
                        <div class="length-sub-container-top">
                            <div class="length-content-container">
                                <div class="length-image-container">
                                    <div class="length-product-image-container">
                                        <div class="length-image-container">
                                            <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1642155403/Lkia/man_1_ilhh9d.png"
                                                class="length-product-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="length-details-container">

                                    <div class="length-price-container">
                                        <div class="length-price">

                                            <div class="length-price-value-holder">New player 5</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="length-sub-container-bottom">
                            <div class="length-description-title-container">LP : 0</div>
                            <div class="length-description-content-container">6th</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Thrd-score-card">

                <div class="length-score-card">
                    <div class="length-card-container">
                        <div class="length-sub-container-top">
                            <div class="length-content-container">
                                <div class="length-image-container">
                                    <div class="length-product-image-container">
                                        <div class="length-image-container">
                                            <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1642155403/Lkia/man_1_ilhh9d.png"
                                                class="length-product-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="length-details-container">

                                    <div class="length-price-container">
                                        <div class="length-price">

                                            <div class="length-price-value-holder">New player 6</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="length-sub-container-bottom">
                            <div class="length-description-title-container">LP : 0</div>
                            <div class="length-description-content-container">7th</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Frth-score-card">

                <div class="length-score-card">
                    <div class="length-card-container">
                        <div class="length-sub-container-top">
                            <div class="length-content-container">
                                <div class="length-image-container">
                                    <div class="length-product-image-container">
                                        <div class="length-image-container">
                                            <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1642155403/Lkia/man_1_ilhh9d.png"
                                                class="length-product-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="length-details-container">

                                    <div class="length-price-container">
                                        <div class="length-price">

                                            <div class="length-price-value-holder">New player 7</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="length-sub-container-bottom">
                            <div class="length-description-title-container">LP : 0</div>
                            <div class="length-description-content-container">8th</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Scnd-score-card">

                <div class="length-score-card">
                    <div class="length-card-container">
                        <div class="length-sub-container-top">
                            <div class="length-content-container">
                                <div class="length-image-container">
                                    <div class="length-product-image-container">
                                        <div class="length-image-container">
                                            <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1642155403/Lkia/man_1_ilhh9d.png"
                                                class="length-product-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="length-details-container">

                                    <div class="length-price-container">
                                        <div class="length-price">

                                            <div class="length-price-value-holder">New player 8</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="length-sub-container-bottom">
                            <div class="length-description-title-container">LP : 0</div>
                            <div class="length-description-content-container">9th</div>
                        </div>
                    </div>
                </div>
            </div>

 


        </div>

    </div>

</body>

</html>