<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Weekly newsletter</title>
</head>
<body>

  <div class="card">
    <div class="box"> <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1640864366/Lkia/newsletter_x2xu1v.png" alt="" class="newsletter"></div>
    <div class="box2">GET OUR WEEKLY</div>
    <div class="box3">NEWSLETTER</div>
    <div class="box4">Get weekly updates on the newest design stories, case studies and tips right in your mailbox.</div>
    <div class="box5">Subscribe Now!</div>
    <div class="box6"><input placeholder="Email Address"/></div>
    <div><button type="button">SUBSCRIBE</button></div>
    <div class="box7">Your email is safe with us, we dont spam.</div>
  </div>

</body>
</html> 
