<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="popup">
                <div class="popup_icon">
                    <span class="material-icons-outlined">check_circle_outline</span>
                </div>
                <div class="popup_head">
                    Done !
                </div>
                <div class="popup_body">
                    Transcation Completed 
                </div>
                <div class="popup_foot">
                    <button class="close_btn">Close</button>
                </div>
        </div>
    </div>
</body>
</html>