@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.content_account{
    position:relative;
    top: 130px;
}

.acc-image{
    height: 0px;
    width: 0px;
}

.icons-menu{
    background-color: #f8f8f8;
    margin-left: -20px; 
}

.myAcc{
    color: #092C4C;
    font-family: Inter;
    font-weight: bold;  
    margin-left: 25px;
    margin-top: 20px;
    font-size: 20px;
}

.menu-items-card{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    
}

  #menu ul {
    background: #f8f8f8;
    margin-top: 30px;
    margin-left: 25px;
    width: 380px;
    padding: 0;
    list-style-type: none;
    text-align: left;
    
  }
  #menu li {
    width: 380px;
    height: 60px;
    color: #092C4C;
    font-family: Inter;
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #B7B7B7;
    padding: 0 1em;
    
  }

#menu a{
  font-weight: normal;
}


@media screen and (min-width: 926px) {

.content_account{
        position: relative;
        top: 30px;
}


  .acc-image{
    width: 136px;
    height: 208px;
    margin-top: 50px;
    margin-left: 30px;
}


  .icons-menu{
    
    background-color: rgb(247, 247, 247);
    margin-left: -20px;
    
}

.myAcc{
     
    margin-left: 35px;
    margin-top: 40px;
   
}

.menu-items-card{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    
    
}


  #menu ul {
    background: #f8f8f8;
    margin-top: -23px;
    margin-left: 450px;
    width: 380px;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  #menu li {
    width: 380px;
    height: 50px;
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid #B7B7B7;
    padding: 0 1em;
  }


}

@media screen and (min-width: 834px) and (max-width:890px) {

    .content_account{
        position: relative;
        top: 60px;
}

  .icons-menu{
    
    background-color: rgb(247, 247, 247);
    margin-left: -20px;
  
}

.myAcc{
     
    margin-left: 35px;
    margin-top: 20px;
   
}

.acc-image{
  width: 236px;
  height: 308px;
  margin-top: 90px;
  margin-left: 30px;
}


.menu-items-card{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;   
    
}

  #menu ul {
    background: #f8f8f8;
    margin-top: -23px;
    margin-left: 430px;
    width: 380px;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  #menu li {
    width: 380px;
    height: 60px;
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #B7B7B7;
    padding: 0 1em;
  }

}

@media screen and (min-width: 1194px) {

    .content_account{
        position: relative;
        top: 60px;
}

  .icons-menu{
    background-color: rgb(247, 247, 247);
    margin-left: -20px;
}

.myAcc{
    margin-left: 35px;
    margin-top: 20px;
}

.acc-image{
  width: 236px;
  height: 308px;
  margin-top: 90px;
  margin-left: 30px;
}


.menu-items-card{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
}

  #menu ul {
    background: #f8f8f8;
    margin-top: -23px;
    margin-left: 540px;
    width: 380px;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  #menu li {
    width: 380px;
    height: 60px;
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #B7B7B7;
    padding: 0 1em;
  }
}


.popUp-qr-ar .overlay-qr {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.popUp-qr-ar .content-qr {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 250px;
  width: 336px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.popUp-qr-ar .close-btn-qr {
  user-select: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.popUp-qr-ar.active .overlay-qr {
  display: block;
}
.popUp-qr-ar.active .content-qr {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.show-qr-ar {
  padding: 0.5em 1em;
  font-size: 25px;
  font-family: "Titillium Web";
  border: 5px solid black;
  border-radius: 5px;
  text-transform: uppercase;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.popup-body-qr{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
  text-align: center;
  color: #092C4C;
}

.qr-ar-button{
  margin-top:10px;
}






