@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #092c4c;
}

ol,
ul {
  margin-bottom: 0px;
  padding-left: 0em;
}

a {
  text-decoration: none !important;
}

.header_local {
  position: fixed;
  width: 100%;
  height: 128px;
  left: 0px;
  top: 0px;
  z-index: 20;
  background: #ffffff;
  border: 1px solid #e0e0e0;
}

.logo_header {
  position: absolute;
  left: 25px;
  top: 58px;
  width: 118px;
  height: 36px;
}

.search_icon {
  color: #092c4c !important;
}

#searchI {
  position: absolute;
  right: 36px;
  top: 64px;
}

.content_home {
  position: relative;
  top: 130px;
}

.container_banner {
  padding: 10px;
}

.bannerHead {
  height: 180px;
  border-radius: 10px;
}

.story_container {
  text-align: center;
  padding: 10px;
}

.story_circle {
  height: 65px;
  width: 65px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.social_container {
  padding: 20px;
}

.social_circle {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.card_elements {
  background: #fff;
  border: 1px solid #aaa;
  box-shadow: 0px 2px 3px 0px #aaa;
  padding: 0px;
  margin-top: 15px;
  margin-right: 7.5px;
  margin-bottom: 15px;
  margin-left: 7.5px;
  overflow: hidden;
  border-radius: 3px;
  width: 173px;
  height: 221px;
}
.card_elements h1 {
  margin: 0px;
  padding: 10px;
  padding-bottom: 0px;
}
.card_elements p {
  margin: 0px;
  padding: 10px;
}

.image_card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.popular_container {
  display: flex;
  flex-flow: column nowrap;
}

.section-grid {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-prod {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  margin-top: -30px;
}

.grid-prod-category {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  margin-top: 120px;
}

.card-category-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  /* or 189% */

  text-align: center;

  /* Color - Primary */

  color: #092c4c;
}

.prod-grid {
  flex: 1 1 5%;
  margin: 2%;
  padding: 0px;
  width: 173px;
  height: 221px;
}
.prod-grid1 {
  flex: 1 1 5%;
  margin: 2%;
  padding: 0px;
  width: 173px;
  height: 221px;
}

.content_category_title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 35px;
  /* or 110% */
  color: #092c4c;
  margin: 0px;
}

.notify1 {
  width: 100%;
  height: auto;
}

.playWinBanner {
  margin-top: 30px;
  padding: 5px;
  width: 100%;
  height: auto;
}

.playWinBtn {
  width: 158px;
  height: 32px;
  margin-left: 30px;
  margin-top: -120px;
}

.about_lkiea {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.newsletter_local {
  position: relative;
}

.newsletter_image {
  margin-top: 10px;
  width: 100%;
  height: auto;
}
.email_input_newsletter {
  width: 150px !important;
  position: absolute;
  min-height: 25px !important;
  left: 190px;
  top: 105px;
  height: 25px !important;
  background-color: #ffffff !important;
  margin: 0 !important;
  border-width: 0 !important;
  border-style: none !important;
}

.ui-input-text {
  margin: 0 !important;
  border-width: 0 !important;
  border-style: none !important;
}

.newsletter_btn {
  width: 65px;
  position: absolute;
  left: 336px;
  top: 105px;
  height: 25px !important;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(274.05deg, #f2994a -37.86%, #fe6108 125.4%);
  border-radius: 0px 4px 4px 0px;
}


@media screen and (min-width: 926px) {
  .header_local {
    height: 56px;
    position: absolute;
  }

  .logo_header {
    left: 34px;
    top: 10px;
  }

  .content_home {
    height: 1200px;
    position: relative;
    top: 30px;
  }

  .container_banner {
    padding: 35px 50px;
  }

  .story_circle {
    margin-right: 30px;
  }

  .card_elements {
    width: 173px;
    height: 221px;
  }

  .prod-grid {
    width: 173px;
    height: 221px;
  }

  .grid-prod-category {
    margin-top: 30px;
  }

  .playWinBtn {
    width: 275px;
    height: 55px;
    margin-left: 80px;
    margin-top: -220px;
  }

  .email_input_newsletter {
    left: 420px;
    top: 230px;
  }

  .newsletter_btn {
    left: 560px;
    top: 230px;
  }

  #searchI {
    position: absolute;
    right: 80px;
    top: 16px;
  }
}

@media screen and (min-width: 834px) and (max-width: 890px) {
  .header_local {
    height: 56px;
  }

  .logo_header {
    left: 25px;
    top: 10px;
  }

  .content_home {
    height: 1200px;
    position: relative;
    top: 60px;
  }

  .story_circle {
    margin-right: 30px;
  }

  .card_elements {
    width: 160px;
    height: 201px;
  }

  .prod-grid {
    width: 160px;
    height: 201px;
  }

  .grid-prod-category {
    margin-top: 30px;
  }

  .playWinBtn {
    width: 275px;
    height: 55px;
    margin-left: 80px;
    margin-top: -220px;
  }

  .email_input_newsletter {
    left: 380px;
    top: 200px;
  }

  .newsletter_btn {
    left: 480px;
    top: 200px;
  }

  #searchI {
    position: absolute;
    right: 45px;
    top: 16px;
  }
}

@media screen and (min-width: 1194px) {
  .header_local {
    height: 56px;
  }

  .logo_header {
    left: 25px;
    top: 10px;
  }

  .content_home {
    height: 1200px;
    position: relative;
    top: 60px;
  }

  .container_banner {
    padding: 10px 180px;
  }

  .card_elements {
    width: 215px;
    height: 261px;
  }

  .prod-grid {
    width: 215px;
    height: 261px;
  }

  .grid-prod-category {
    margin-top: 30px;
  }

  .playWinBtn {
    width: 300px;
    height: 60px;
    margin-left: 120px;
    margin-top: -300px;
  }

  .email_input_newsletter {
    width: 250px !important;
    left: 540px;
    top: 280px;
  }

  .newsletter_btn {
    left: 740px;
    top: 280px;
  }

  #searchI {
    position: absolute;
    right: 60px;
    top: 16px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer_local {
  display: fixed;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 56px;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  transition: 0.4s;
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: #092c4c;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: #092c4c;
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #092c4c;
}

.playBanner {
  bottom: 56px;
  padding: 10px;
  border-radius: 10px;
  height: 186px;
  background: #092c4c;
}

.banner_Head {
  margin-left: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 35px;
  color: #ffffff;
}

.banner_Body {
  width: 270px;
  margin-top: 15px;
  margin-left: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.mario {
  position: absolute;
  right: 20px;
  width: 127px;
  height: 175px;
}

#play-Button {
  margin-top: 15px;
  width: 160px;
  height: 40px;
  background: #f2994a;
  border-radius: 8px;
  border-style: none;
  font-family: Inter;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
}

#btn_Icon {
  transform: rotate(-30deg);
  position: absolute;
  margin-top: -2px;
  margin-left: -20px;
}

.footerContainer {
  position: relative;
  left: 0;
  margin-bottom: 0px;
  width: 100%;
  height: 286px;
  background: #092c4c;
  text-shadow: none;
}

.footer_head {
  font-family: Megrim;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  margin-left: 20px;
  margin-bottom: 5px;
}

.footer_body {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 20px;
  margin-top: 35px;
}

.social_footer_ul {
  margin-left: 20px;
  margin-top: 15px;
}

.fa {
  width: 32px;
  height: 32px;
  padding: 8px;
  font-size: 30px;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 50%;
}

.fa-facebook {
  background: white;
  color: black;
}

.fa-twitter {
  background: white;
  color: black;
}

.fa-instagram {
  background: white;
  color: black;
}

.fa-linkedin {
  background: white;
  color: black;
}

.footer_rights {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 20px;
  margin-top: -10px;
}

.feedWrap {
  position: absolute;
  right: 0px;
  margin-top: 15px;
}

.feedback {
  width: 34px;
  height: 87px;
}

#map {
  height: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
}
a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}

.gmnoprint a,
.gmnoprint span {
  display: none;
}
/* .gmnoprint div {
background:none !important;
} */
.gm-style-cc {
  display: none;
}
.gm-control-active {
  color: white;
}

.card-product-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 5px;
  /* or 189% */

  /* Color - Primary */

  color: #092c4c;
}

.card-product-desc {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* or 167% */

  color: #27ae60;
}

/* Review Page */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);
body {
  font-family: "Roboto", sans-serif;
  background: #eff1f3;
  min-height: 100vh;
  position: relative;
}

.section-50 {
  padding: 0;
}

.m-b-50 {
  margin-bottom: 50px;
}

.dark-link {
  color: #333;
}

.heading-line {
  position: relative;
  padding-bottom: 5px;
}

.heading-line:after {
  content: "";
  height: 4px;
  width: 75px;
  background-color: #29b6f6;
  position: absolute;
  bottom: 0;
  left: 0;
}

.notification-ui_dd-content {
  margin-bottom: 0px;
}

.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 7px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
  border-left: 2px solid #29b6f6;
}

.notification-list .notification-list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notification-list .notification-list_content .notification-list_img img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}

.notification-list .notification-list_feature-img img {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  margin-left: 20px;
}

/* Stars rating */
.stars input {
  position: absolute;
  left: -999999px;
}

.stars a {
  display: inline-block;
  padding-right: 4px;
  text-decoration: none;
  margin: 0;
}

.stars a:after {
  position: relative;
  font-size: 18px;
  font-family: "FontAwesome", serif;
  display: block;
  content: "\f005";
  color: #9e9e9e;
}

.stars-read-only input {
  position: absolute;
  left: -999999px;
}

.stars-read-only a {
  display: inline-block;
  padding-right: 4px;
  text-decoration: none;
  margin: 0;
}

.stars-read-only a:after {
  position: relative;
  font-size: 18px;
  font-family: "FontAwesome", serif;
  display: block;
  content: "\f005";
  color: #9e9e9e;
}

/* Star ratings */
span {
  font-size: 0; /* trick to remove inline-element's margin */
}

.stars a:hover ~ a:after {
  color: #9e9e9e !important;
}
span.active a.active ~ a:after {
  color: #9e9e9e;
}

span:hover a:after {
  color: #f2994a !important;
}

span.active a:after,
.stars a.active:after {
  color: #f2994a;
}

/* Read only stars */
#readonly_rating {
  pointer-events: none;
}

#qrcode-link{
  width: 100px;
  height: 200px;
  
}

.qr-generic-popup .overlay-qr {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.qr-generic-popup .content-qr {
  background: #fff;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 250px;
  width: 336px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.qr-generic-popup .close-btn-qr {
  user-select: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.qr-generic-popup.active .overlay-qr {
  display: block;
}
.qr-generic-popup.active .content-qr {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

#qr-container-view {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  text-align: center;
  }
  
  #qr-container-view a {
  font-size: 0.8em;
  }

.social_container-share{
  margin-top: 20px;
}

.qr-share-body{
  margin-top: 30px;
  font-size:20px;
}

.btn-success-qr{
  font-size: 20px;
  color: #092C4C !important;
  border: 2px solid;
}
/* iframe for video */
/* .h_iframe {
    position:relative;
}
.h_iframe .ratio {
    display:block;
    width:100%;
    height:auto;
}
.h_iframe iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
} */

/* email send */
input[type="text"] {
  background-color:#fafafa;
  padding:7px;
  font-family:helvetica, arial, sans-serif;
  font-size:1.2em;
  margin-bottom:20px;
  display:block;
  /* border:solid 2px #bbb; */
  color:#6f6f6f;
}

.favouritetext {
  background-color:#fafafa;
  font-family:helvetica, arial, sans-serif;
  font-size:1.0em;
  font-weight:bold;
  padding:7px;
  color:#6f6f6f;
}

#subscription-email-text-field {
  vertical-align:top;
  display:inline-block;
  font-size:0.9em;
  font-weight:400;
  border:0;
  width:300px;
  height:32px;
  margin:0;
}

#subscribe-button {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(274.05deg, #f2994a -37.86%, #fe6108 125.4%);
  border-radius: 0px 4px 4px 0px;
  /* display:inline-block; */
  /* border:1px solid black; */
  border-width:0px 0px 0px 1px;
  margin:0;
  height:32px;
}
