<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="signup.css" />
    <script src="assets/js/script.js"></script>

    <title>Sign Up</title>
</head>

<body>
    <header class="header" id="header">
        <img src="/assets/img/logo.png" alt="" class="logo_header">
    </header>

    <img src="/assets/img/signup-logo.png" alt="" class="signup-logo">

    <div>
        <form action="/action_page.php">
            <input class="input-placeholder1" type="text" id="username" placeholder="Username" name="username">
            <input class="input-placeholder2" type="text" id="email" placeholder="Email" name="email">
            <input class="input-placeholder3" type="password" id="password" placeholder="Password" name="password">
            <input class="register-btn" type="submit" value="Register">
        </form>
    </div>

    <div class="navBar" id="navBar">
        <nav class="navContainer">

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item" id="home">
                        <a href="" class="nav__link">
                            <span class="material-icons-outlined" id="home_icon">home</span>
                            <span class="nav__name">Home</span>
                        </a>
                    </li>

                    <li class="nav__item" id="category">
                        <a href="#category" class="nav__link">
                            <span class="material-icons-outlined">grid_view</span>
                            <span class="nav__name">Category</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#Cart" class="nav__link">
                            <span class="material-icons-outlined">shopping_cart</span>
                            <span class="nav__name">Cart</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#notifications" class="nav__link">
                            <span class="material-icons-outlined">notifications_active</span>
                            <span class="nav__name">Notifications</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#profile" class="nav__link">
                            <span class="material-icons-outlined">account_circle</span>
                            <span class="nav__name">Profile</span>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    <a href="/login" class="already-a-member">Already a member ? Login</a>

</body>

</html>