<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <title>Card</title>
</head>

<body>
  <div class="card-container">
    <div class="sub-container-top">
      <div class="content-container">
        <div class="image-container">
          <div class="product-image-container">
            <div class="image-container">
              <img src="https://res.cloudinary.com/dgly8b9lq/image/upload/v1638297434/AyoOsLab_wvvflo.png" class="product-image">
            </div>
          </div>
        </div>
        <div class="details-container">
          <div class="details-sub-container">
            <div class="title-container">Working desk</div>
            <div>
              <span id="close-btn-cart" class="iconify" data-icon="mdi:minus-circle-outline" data-width="24" data-height="24"></span>
              <!-- <span class="material-icons-outlined" id="searchI">cancel</span> -->
            </div>
          </div>
          <div class="price-container">
            <div class="price">
              <div class="price-text-holder">Price</div>
              <div class="price-value-holder">  £ 140.75</div>
            </div>
            <div class="quantity">
              <div class="quantity-text-holder">Quantity</div>
              <div class="quantity-value-holder">
                <form>
                  <div class="ui-field-contain">
                      <select name="select-native-2" id="select-native-2" data-mini="true">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                      </select>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-container-bottom">
      <div class="description-title-container">Description</div>
      <div class="description-content-container">Modern Simple Style computer desk has an industrial charm appearance, will be a beautiful décor for your home.</div>
    </div>
  </div>
</body>

</html>