@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #092C4C ;
}

.header_local{
  position: fixed;
  width: 100%;
  height: 128px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  border: 1px solid #E0E0E0;
}

.logo_header{
  position: absolute;
  left: 25px;
  top: 58px;
  width: 118px;
  height: 36px;
}

.search_icon{
  color: #092C4C !important;
}

#searchI{
  position: absolute;
  right: 36px;
  top: 64px;
}

.content_home{
  position: relative;
  top: 130px;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 56px;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    transition: .4s;
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: #092C4C;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: #092C4C;
}

.acc-image{
    height: 0px;
    width: 0px;
}

.icons-menu{
    
    background-color: #f8f8f8;
    margin-left: -20px;
   
    
    
}

.myAcc{
    color: #092C4C;
    font-family: Inter;
    font-weight: bold;  
    margin-left: 25px;
    margin-top: 20px;
    font-size: 20px;
}

.menu-items-card{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    
    
}


  #menu ul {
    background: #f8f8f8;
    margin-top: 30px;
    margin-left: 25px;
    width: 380px;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  #menu li {
    width: 380px;
    height: 60px;
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #B7B7B7;
    padding: 0 1em;
  }
  #menu li a {
   
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    
  }
  #menu li:hover {
    background: #f8f8f8;
  }






@media screen and (min-width: 926px) {
  .header_local {
    height: 56px;
  }
  
  .logo_header{
    left: 34px;
    top: 10px;
  }

  .content_home{
    position: relative;
    top: 30px;
  }

  #searchI{
    position: absolute;
    right: 80px;
    top: 16px;
  }

 
  .acc-image{
    width: 136px;
    height: 208px;
    margin-top: 50px;
    margin-left: 30px;
}


  .icons-menu{
    
    background-color: rgb(247, 247, 247);
    margin-left: -20px;
    
    
}

.myAcc{
     
    margin-left: 35px;
    margin-top: 40px;
   
}

.menu-items-card{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    
    
}


  #menu ul {
    background: #f8f8f8;
    margin-top: -23px;
    margin-left: 450px;
    width: 380px;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  #menu li {
    width: 380px;
    height: 50px;
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid #B7B7B7;
    padding: 0 1em;
  }
  #menu li a {
   
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    
  }
  #menu li:hover {
    background: #f8f8f8;
  }








}

@media screen and (min-width: 834px) and (max-width:890px) {
  .header_local {
    height: 56px;
  }
  
  .logo_header{
    left: 25px;
    top: 10px;
  }

  .content_home{
    position: relative;
    top: 60px;
  }

  #searchI{
    position: absolute;
    right: 45px;
    top: 16px;
  }

 
 


  .icons-menu{
    
    background-color: rgb(247, 247, 247);
    margin-left: -20px;
    
    
}

.myAcc{
     
    margin-left: 35px;
    margin-top: 20px;
   
}




.acc-image{
  width: 236px;
  height: 308px;
  margin-top: 90px;
  margin-left: 30px;
}


.menu-items-card{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    
    
}


  #menu ul {
    background: #f8f8f8;
    margin-top: -23px;
    margin-left: 430px;
    width: 380px;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  #menu li {
    width: 380px;
    height: 60px;
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #B7B7B7;
    padding: 0 1em;
  }
  #menu li a {
   
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    
  }
  #menu li:hover {
    background: #f8f8f8;
  }





}

@media screen and (min-width: 1194px) {
  .header_local {
    height: 56px;
  }
  
  .logo_header{
    left: 25px;
    top: 10px;
  }

  .content_home{
    position: relative;
    top: 60px;
  }

  #searchI{
    position: absolute;
    right: 60px;
    top: 16px;
  }


  .icons-menu{
    
    background-color: rgb(247, 247, 247);
    margin-left: -20px;
    
    
}

.myAcc{
     
    margin-left: 35px;
    margin-top: 20px;
   
}

.acc-image{
  width: 236px;
  height: 308px;
  margin-top: 90px;
  margin-left: 30px;
}


.menu-items-card{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    
    
}


  #menu ul {
    background: #f8f8f8;
    margin-top: -23px;
    margin-left: 540px;
    width: 380px;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  #menu li {
    width: 380px;
    height: 60px;
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #B7B7B7;
    padding: 0 1em;
  }
  #menu li a {
   
    color: #092C4C;
    
    font-family: Inter;
    font-size: 18px;
    
  }
  #menu li:hover {
    background: #f8f8f8;
  }



}






