@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footerContainer{
    position: relative;
    
    left: 0;
    bottom: 6px  !important;
    width: 100%;
    height: 286px;
    background: #092C4C;
}

.footer_head{
    font-family: Megrim;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 15px;
}

.footer_body{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 20px;
    margin-top: 35px;
}

.social_footer_ul{
    margin-left: 20px;
    margin-top: 15px;
}

.fa {
    width: 32px;
    height: 32px;
    padding: 8px;
    font-size: 30px;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 50%;
  }

  .fa-facebook {
    background: white;
    color: black;
  }
  
  .fa-twitter {
    background: white;
    color: black;
  }
  
  .fa-instagram {
    background: white;
    color: black;
  }

  .fa-linkedin {
    background: white;
    color: black;
  }

  .footer_rights{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height:0px;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 20px;
    margin-top: -5px;
  }

.feedWrap{
    position: absolute;
    right: 0px;
    margin-top: 15px;
}  

.feedback{
    width: 34px;
    height: 87px;
}  

.social_container{
  padding: 20px;
}

.social_circle{
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

@media screen and (min-width: 834px) and (max-width: 1135px) {

  .footerContainer{
    position: relative;
    right: 0px;
    bottom: 56px;
    width: 470px;
    height: 286px;
    background: #092C4C;
}

}

#map {
  height: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: -10px;
}
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span {
display:none;
}
/* .gmnoprint div {
background:none !important;
} */
.gm-style-cc{
display:none;
}
.gm-control-active{
color:white;
}


