<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>
	</header>

	<section class="section-50">
		<div class="container">
			<div class="notification-ui_dd-content">
				<div class="notification-list">
					<div class="notification-list_content">
						<div class="notification-list_img">
							<img src="images/users/user3.jpg" alt="user">
						</div>
						<div class="notification-list_detail">
							<p><b>Brian Cumin</b> reacted to your post</p>
							<p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
							<p class="text-muted"><small>10 mins ago</small></p>
						</div>
					</div>
					<div class="notification-list_feature-img">
						<img src="images/features/random3.jpg" alt="Feature image">
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>