<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Order</title>
</head>
<body>
    <div class="orderContainer">
        <div class="title">Order Summary</div>
        <div class="itemContainer">
            <ul class="list">

            <li class="nav_item">  
            <div class="item">
                <div class="itemIcon">
                    <span class="iconify" data-icon="mdi:gift-outline" data-height="24"></span>
                </div>
                <span class="itemDesc">Computer Office Desk 55", Study Writing Table, Modern Simple Style PC Desk</span>
            
            </div>
            </li>  

            <li class="nav_item">
            <div class="item">
                <div class="itemIcon">
                    <span class="iconify" data-icon="mdi:gift-outline" data-height="24"></span>
                </div>
                <span class="itemDesc">Computer </span>
            
            </div>
            </li>




            </ul>
        </div>    
    </div>


</body>
</html>