@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #092C4C ;
}

.header_local{
  position: fixed;
  width: 100%;
  height: 128px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  border: 1px solid #E0E0E0;
}

.logo_header{
  position: absolute;
  left: 25px;
  top: 58px;
  width: 118px;
  height: 36px;
}

.search_icon{
  color: #092C4C !important;
}

#searchI{
  position: absolute;
  right: 36px;
  top: 64px;
}

.content_home{
  position: relative;
  top: 130px;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 56px;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    transition: .4s;
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: #092C4C;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: #092C4C;
}



.login-button{
  background-color: #092C4C;
  color: #FFFFFF;
  font-family: Inter;
}

.input-space{
  margin-top: 20px;
}

.forgot-password{
  margin-top: 20px;
  font-size: 14px;
  color: #092C4C;
  font-family: Inter;
  margin-bottom: 25px;
  padding-left: 220px;
}

::placeholder { 
  color: #092C4C;
  font-family: Inter;
  font-size: 16px;
  opacity: 1; 
}

.input-set{
  padding-top: 450px;
  background-color: antiquewhite;
}

.dont-have-an-account{
 padding-top: 18px;
 margin-left: 38px;
 color: #092C4C;
  font-family: Inter;
  font-size: 15px;
}


.signup-logo{
  position: absolute;
  width: 117px;
  height: 168px;
  
  left: 35%;
  top: 107px;
 }

 .password-width{
   background-color: aqua;
   height: 53px;
  
   
 }


@media screen and (min-width: 926px) {
  .header_local {
    height: 56px;
  }
  
  .logo_header{
    left: 34px;
    top: 10px;
  }

  .content_home{
    position: relative;
    top: 30px;
  }

  #searchI{
    position: absolute;
    right: 80px;
    top: 16px;
  }

  .signup-logo{
   
    width: 167px;
    height: 218px;
   
    left: 10%;
    top: 53px;
   }

   .input-set{
    padding-left: 350px;
    padding-top: 20px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);

  }








.forgot-password{
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 240px;
}

.dont-have-an-account{
  padding-top: 10px;
  margin-left: 49px;
 
 }

}

@media screen and (min-width: 834px) and (max-width:890px) {
  .header_local {
    height: 56px;
  }
  
  .logo_header{
    left: 25px;
    top: 10px;
  }

  .content_home{
    position: relative;
    top: 60px;
  }

  #searchI{
    position: absolute;
    right: 45px;
    top: 16px;
  }

  .signup-logo{
   
    width: 263px;
    height: 380px;
    left: 271px;
    top: 124px;
   }

   .input-set{
    padding-left: 150px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);

  }




.forgot-password{
  margin-top: 25px;
  margin-bottom: 20px;
  padding-left: 340px;
}

.dont-have-an-account{
  padding-top: 20px;
  margin-left: 99px;
 
 }
}

@media screen and (min-width: 1194px) {
  .header_local {
    height: 56px;
  }
  
  .logo_header{
    left: 25px;
    top: 10px;
  }

  .content_home{
    position: relative;
    top: 60px;
  }

  #searchI{
    position: absolute;
    right: 60px;
    top: 16px;
  }

  .signup-logo{
   
    width: 263px;
    height: 380px;
    left: 141px;
    top: 150px;
   }

   .input-set{
    padding-left: 150px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);

  }


  .input-space{
    margin-top: 30px;
  }




.forgot-password{
  margin-top: 25px;
  margin-bottom: 40px;
  padding-left: 340px;
}

.dont-have-an-account{
  padding-top: 20px;
  margin-left: 99px;
 
 }

}






